apiVersion: v1
kind: Namespace
metadata:
  name: knative-serving
  labels:
    istio-injection: disabled
---
apiVersion: v1
kind: Namespace
metadata:
  name: kourier-system
  labels:
    istio-injection: disabled
