apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: argocd
  namespace: argocd
spec:
  secretName: argocd-tls
  dnsNames:
    - argocd.mrcontainer.nl
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
