---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bazarr
  namespace: media
  labels:
    app: bazarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bazarr
  template:
    metadata:
      labels:
        app: bazarr
    spec:
      nodeSelector:
        kubernetes.io/hostname: node4
      initContainers:
        - name: config-init
          image: busybox:1.36
          command: ['sh', '/scripts/init-config.sh', 'Bazarr', '$(BAZARR_API_KEY)']
          env:
            - name: BAZARR_API_KEY
              valueFrom:
                secretKeyRef:
                  name: arr-apps-apikeys
                  key: BAZARR_API_KEY
          volumeMounts:
            - name: config
              mountPath: /config
            - name: init-script
              mountPath: /scripts
      containers:
        - name: bazarr
          image: lscr.io/linuxserver/bazarr:latest
          ports:
            - containerPort: 6767
          env:
            - name: TZ
              valueFrom:
                configMapKeyRef:
                  name: media-common
                  key: TZ
            - name: PUID
              valueFrom:
                configMapKeyRef:
                  name: media-common
                  key: PUID
            - name: PGID
              valueFrom:
                configMapKeyRef:
                  name: media-common
                  key: PGID
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /media
            - name: media
              mountPath: /tv
              subPath: tv
            - name: media
              mountPath: /movies
              subPath: movies
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 512Mi
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: bazarr-config
        - name: media
          persistentVolumeClaim:
            claimName: media-rwx
        - name: init-script
          configMap:
            name: arr-config-init-script
            defaultMode: 0755
